<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.emoid_v2">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="com.example.emoid_cv6fox.App.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/laucher"
        android:label="EmoID_cv6f"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity
            android:name="com.example.emoid_cv6fox.page.statistic.custom.CustomActivity"
            android:theme="@style/Transparent">
        </activity>
        <activity
            android:name="com.example.emoid_cv6fox.page.statistic.diary.DiaryActivity"
            android:theme="@style/Transparent">
        </activity>
        <activity android:name="com.example.emoid_cv6fox.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>